# Runtime Dependencies (Libraries required for the SDK to run)
requests>=2.28.1
aiohttp>=3.8.1

# Development and Testing Dependencies (Not essential for runtime, but used for development and quality assurance)
pytest>=9.0.1
requests-mock>=1.12.1
aioresponses>=0.7.6
pytest-asyncio>=0.24.0
twine>=4.0.2
build>=0.8.0
python-dotenv>=1.0.0